<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qqcn.news.mapper.NewsMapper">
    <resultMap id="newsMap" type="News">
        <id column="id" property="id"></id>
        <result column="title" property="title"></result>
        <result column="content" property="content"></result>
    </resultMap>
    
    <!-- 查询新闻列表数据 -->
    <select id="getNewsList" parameterType="cn.qqcn.news.vo.NewsQuery" resultMap="newsMap">
        select * from news
        <include refid="getNewsListWhere"></include>
        order by id desc
        limit #{start}, #{limit}
    </select>
    <!-- 统计新闻数据量 -->
    <select id="countNewsList" parameterType="cn.qqcn.news.vo.NewsQuery" resultType="Long">
        select count(1) from news
        <include refid="getNewsListWhere"></include>
    </select>

    <sql id="getNewsListWhere">
        <where>
            <if test="title != null">
                and a.title like concat('%',#{title},'%')
            </if>
        </where>
    </sql>
    
    <insert id="addNews" parameterType="News">
        insert into news
        (title,content,counter,img_url,elite)
        values
        (#{title},#{content},#{counter},#{imgUrl},#{elite})
    </insert>
    
    <select id="getNewsById" parameterType="Integer" resultType="News">
        select * from news where id = #{id}
    </select>
    
    <update id="updateNews" parameterType="News">
        update news
        set title = #{title},
            content = #{content},
            img_url = #{imgUrl},
            elite = #{elite}
        where id = #{id}
    </update>
    
    <delete id="deleteNewsByIds" parameterType="String">
        delete from news where id in (${ids}) 
    </delete>
</mapper>